branches:
  only: 
    - master
    - Develop
matrix:
  include:
    - stage: "install nativescript"
      language: node_js
      os: osx
      node_js: lts/*
      before_script:
        - echo no | npm install -g nativescript
        - tns usage-reporting disable
        - tns error-reporting disable
      script: echo Nativescript installed.
    - stage: "Install android"
    - os: osx
      language: android
      env:
        - TestVersion="latest"
      jdk: oraclejdk8
      before_script:
        - echo no | android create avd --force -n test -t android-21 -b armeabi-v7a
        - emulator -avd test -no-audio -no-window &
        - android-wait-for-emulator
      script:
        echo android started
      dist: precise
    - stage: "install & test"
      language: node_js
      os: osx
      node_js: lts/*
      install:
        - npm install

android:
  components:
    - tools
    - platform-tools
    - build-tools-26.0.2
    - android-23
    - android-26
    - extra-android-m2repository
    - sys-img-armeabi-v7a-android-21