matrix:
  include:
    - stage: "Build and Test"
      os: linux
      language: android
      dist: precise
      sudo: required
      jdk: oraclejdk8
      before_script:
        - echo no | android create avd --force -n test -t android-21 -b armeabi-v7a
        - emulator -avd test -no-audio -no-window &
        - android-wait-for-emulator
      before_install:
        - nvm install 8
      script: npm run test-android
    - stage: "SonarCloud"
      os: linux
      language: node_js
      addons:
        sonarcloud:
          organization: btaluy-github
          token:
            secure: feaeca75f7163a30a4724725192efb925919c9c8
      script:
        - sonar-scanner

android:
  components:
    - tools
    - platform-tools
    - build-tools-26.0.2
    - android-26
    - extra-android-m2repository
    - sys-img-armeabi-v7a-android-21

install:
  - sudo apt-get install -y lib32gcc1 libc6-i386 lib32z1 lib32stdc++6
  - sudo apt-get install -y lib32ncurses5 lib32gomp1 lib32z1-dev
  - echo no | npm install -g nativescript
  - tns usage-reporting disable
  - tns error-reporting disable