.board {
  background: #D35400;
  .square {
    font-size: 80;
    color: #D35400;
    border-width: 0.1;
    border-color: transparent;

    &.light-square {
      background: #F6DDCC;
    }
    &.dark-square {
      background: #EDBB99;
    }
  }
}