.board { 
  
}

.content {
  horizontal-align: center;
}

.top-panel {
  margin-top: 10;
  margin-right: 10;
  margin-left: 10;
  height: 50;
}

.circle-score,
.cross-score {
  horizontal-align: right;
}

.circle-score,
.cross-score {
  font-size: 17;
}

.next-to-play {
  margin-right: 10;
  vertical-align: middle;
  font-size: 22;

  &.icon {
    height: 32;
    width: 32;
    font-size: 32;
  }
}

.cross-thumb,
.circle-thumb {
  height: 17;

  &.icon {
    font-size: 18;
  }
}

.score-board {
  width: 100%;
}

.game-panel {
  horizontal-align: center;
  vertical-align: middle;
  height: 50;
}

.circle-thumb,
.cross-thumb,
.restart,
.next-to-play,
.circle-score,
.cross-score {
  color: #D35400;
}

.next-to-play {
  vertical-align: middle;
  height: 35;
}

.square-state {
  color: #d35400;
  font-size: 92;
}

.light-square,
.dark-square {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.light-square {
  background-color: #F6DDCC;
}

.dark-square {
  background-color: #EDBB99;
}