.labeled-image-label {
  color: $white;
  font-family: $font-light;
  font-size: $font-xxl;
  padding: 0 $spacing-l $spacing-xxl $spacing-xxxl;
  background-color: transparent;
  vertical-align: bottom;
}