<GridLayout rows="60, *" columns="*" class="page">
  <Label row="0" class="label label-large white label-center" text="SinglePlayer"></Label>
  
  <GridLayout #boardGrid [columns]="boardSideSpecification" [rows]="boardSideSpecification" row="1" class="board">
    <ng-template ngFor let-item [ngForOf]="board.squares">
      <StackLayout #square [col]="item.yPosition" [row]="item.xPosition" [class]="classOf(item)" (tap)="mark(item)">
        <Image class="square-state" [src]="item.state | stateImage"></Image>
      </StackLayout>
    </ng-template>
  </GridLayout>
</GridLayout>