<TabView class="lb-page font-xxl" selectedTabTextColor="yellow" #element [(ngModel)]="selectedIndex" androidSelectedTabHighlightColor="yellow" tabBackgroundColor="#d35400">
  <GridLayout class="padding-t-xl font-xxl" rows="auto, *, *, *" columns="*, auto, *, auto, *" *tabItem="{title: 'Singleplayer'}">
    <Label row="0" col="0" colSpan="5" class="primary font-xxxxl align-middle text-center" text="Highscore"></Label>

    <Label *ngIf="!isLoadingSPScore" row="1" col="1" class="primary font-xxll align-middle text-center" [text]="leaderBoard.spScore.crossScore"></Label>
    <Label *ngIf="!isLoadingSPScore" row="1" col="3" class="fa primary font-xxll align-middle text-center" [text]="'fa-times' | fonticon"></Label>

    <Label *ngIf="!isLoadingSPScore" row="2" col="1" class="primary font-xxll align-middle text-center" [text]="leaderBoard.spScore.drawScore"></Label>
    <Label *ngIf="!isLoadingSPScore" row="2" col="3" class="fa primary font-xxll align-middle text-center" [text]="'fa-times-circle' | fonticon"></Label>

    <Label *ngIf="!isLoadingSPScore" row="3" col="1" class="primary font-xxll align-middle text-center" [text]="leaderBoard.spScore.circleScore"></Label>
    <Label *ngIf="!isLoadingSPScore" row="3" col="3" class="fa primary font-xxll align-middle text-center" [text]="'fa-circle-thin' | fonticon"></Label>

    <ActivityIndicator *ngIf="isLoadingSPScore" row="1" rowsSpan="3" col="0" colSpan="5" color="#D35400" busy="true"></ActivityIndicator>
  </GridLayout>
  <GridLayout rows="*" columns="*" *tabItem="{title: 'Multiplayer'}">
      <Label class="primary font-xxxl align-middle text-center" text="Multiplayer coming soon"></Label>
  </GridLayout>
</TabView>