<TabView class="lb-page font-xxl" selectedTabTextColor="yellow" #element [(ngModel)]="selectedIndex" androidSelectedTabHighlightColor="yellow" tabBackgroundColor="#d35400">

    <GridLayout class="form" rows="auto, auto, auto, auto, auto, auto, auto, auto, *" orientation="vertical" *tabItem="{title: 'Search'}">
        <StackLayout>

            <Image row="2" src="~/assets/img/friends.png" height="200" width="200"></Image>
            <Label row="3" height="70" class="primary font-xxxl align-middle text-center" text="Start searching on email"></Label> 

            <TextField row="5" 
            class="input input-border orange"  
            keyboardType="email" 
            returnKeyType="search"
            (textChange)="onTextChange($event)" 
            (returnPress)="onReturn($event)"></TextField>

            <Label row="7" height="70" class="primary font-xxxl align-middle text-center" text="We found..."></Label>
           
            <ListView row="2" col="0" colSpan="2" [items]="friends.users"class="player-list" (itemTap)="onItemTap($event)">
                    <ng-template let-item="item" let-i="index" >
                      <GridLayout class="primary padding-l" rows="*" columns="auto, *, auto"   >
                        <Label col="0" [text]="index" textWrap="true"></Label>
                        <Label col="1" [src]="item.profileImageURL" textWrap="true"></Label>
                        <Label col="2" [text]="item.name" textWrap="true"></Label>
                        
                      </GridLayout>
                    </ng-template>
            </ListView>

        </StackLayout>
    </GridLayout> 

    <StackLayout *tabItem="{title: 'My friends'}">


    </StackLayout>

</TabView>