<TabView class="lb-page font-xxl" selectedTabTextColor="yellow" #element [(ngModel)]="selectedIndex" androidSelectedTabHighlightColor="yellow" tabBackgroundColor="#d35400">

    <GridLayout class="form" rows="auto, auto, auto, auto, auto, auto, auto, auto, *" orientation="vertical" *tabItem="{title: 'Search'}">
        <StackLayout>

            <Image row="2" src="~/assets/img/friends.png" height="200" width="200"></Image>
            <Label row="3" height="70" class="primary font-xxxl align-middle text-center" text="Start searching on email"></Label> 

            <TextField row="5" 
            class="input input-border orange"  
            keyboardType="email" 
            returnKeyType="search"
            (textChange)="onTextChange($event)" 
            (returnPress)="onReturn($event)"></TextField>
           
            <ListView row="2" col="0" colSpan="3" [items]="friends.users"class="player-list">
                <ng-template let-item="item" let-i="index" >
                    <GridLayout class="primary padding-l" rows="*" columns="auto, *" >
                        <Image col="0" height="50" width="50" [src]="item.profileImageURL"></Image>
                        <Label class="font-xxl align-middle" col="1" [text]="item.name" textWrap="true"></Label>
                        <Button class="home-button" col="2" height="30" width="30" colSpan="1" (tap)="addFriendToList(item)">
                                <FormattedString>
                                    <Span class="font-xs" [text]="'fa-users' | fonticon"></Span>
                                </FormattedString>
                        </Button>
                    </GridLayout>
                </ng-template>
            </ListView>
        </StackLayout>
    </GridLayout> 

    <StackLayout *tabItem="{title: 'My friends'}">
        <ListView row="2" col="0" colSpan="3" [items]="userService.user.friends" class="player-list">
            <ng-template let-item="item" let-i="index" >
                <GridLayout class="primary padding-l full-width" rows="*" columns="auto, *">
                    <Image col="0" height="50" width="50" [src]="item.profileImageURL"></Image>
                    <Label class="font-xxl align-middle" col="1" [text]="item.name" textWrap="true"></Label>
                    <Button class="home-button" col="2" height="30" width="30" colSpan="1" (tap)="removeFriend(item)">
                            <FormattedString>
                                <Span class="font-xs" [text]="'fa-users' | fonticon"></Span>
                            </FormattedString>
                    </Button>
                </GridLayout>
            </ng-template>
        </ListView>
    </StackLayout>
</TabView>