// Core variables and mixins
@import './x-theme/variables';

// Core CSS
@import './x-theme/index';

.page {
  height: 100%;
  width: 100%;
  background: black;
  padding: $spacing-xxl;
}

.fa {
  font-family: "FontAwesome", FontAwesome;
}