// Core variables and mixins
@import './x-theme/variables';

// Core CSS
@import './x-theme/index';

.page {
  height: 100%;
  width: 100%;
  background: black;
  padding: $spacing-xxl;
  font-family: $font-regular;
  font-size: 16
}

.fa {
  font-family: "FontAwesome", FontAwesome;
}

